:vars {
  modalPadding: 30px;
  modalBoxPadding: 48px;
}


.customModal {
  background-color: white;
  position: relative;
  max-height: calc(100% - (value(modalBoxPadding) * 2) );
  max-width: calc(100% - (value(modalBoxPadding) * 2) );
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}


:import {
  -st-from: "../Foundation/stylable/default-scroll-bar.st.css";
  -st-named: defaultScrollBar;
}

.contentWrapper {
  height: 100%;
  overflow-y: auto;
  -st-mixin: defaultScrollBar;
}

.removeContentPadding {


.contentWrapper:not(.removeContentPadding) {
  padding: 0 value(modalPadding);
}

.actions {

}



/** Footer - start **/
.footer {
  padding: value(modalPadding);
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
.buttons > :first-of-type:not(:last-of-type) {
  margin-right: 12px;
}

.sideActions {
  margin-right: 12px;
}



/* rtl */
:global(.rtl) .buttons {
  margin-left: 0;
  margin-right: auto;
}

:global(.rtl) .buttons > :first-of-type:not(:last-of-type) {
  margin-left: 12px;
  margin-right: 0;
}

:global(.rtl) .sideActions {
  margin-left: 12px;
  margin-right: 0;
}

/** Footer - end **/

.footnote {
  padding: value(modalPadding);
  display: flex;
  align-items: center;
}


/** Header - start **/
.header
{
  padding: 24px value(modalPadding);
}
.title{
  /*display: inline-block;*/
  /*word-break: break-word;*/
}

/** Header - end **/









.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
}



.footer_divider {
  display: none;
}
